<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heshitha.story" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/story_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name=".StoryCatagoryListActivity"
            android:label="@string/title_activity_story_catagory_list" >
        </activity>
        <activity
            android:name=".StoryListActivity"
            android:label="@string/title_activity_story_list" >
        </activity>
        <activity
            android:name=".ReadStoryActivity"
            android:label="@string/title_activity_read_story" >
        </activity>
        <activity
            android:name=".StoryWriteActivity"
            android:label="@string/title_activity_story_write" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".RetrievePasswordActivity"
            android:label="@string/title_activity_retrieve_password" >
        </activity>
        <activity
            android:name=".WelcomeBackActivity"
            android:label="@string/title_activity_welcome_back" >
        </activity>
    </application>

</manifest>
